.intro-container {
    display: flex;
    height: 100%;  
    align-items: center;
    justify-content: space-between;
    margin-inline: 8%;
}

.intro-text {
    display: flex;
    align-items: center; 
    font-size: 18px;
    height: 55%;
    width: 55%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1e1e1e;
    color: #d4d4d4;
  font-family: 'Courier New', monospace;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.intro-image {
    height: 300px;  
}

.keyword {
    color: #569cd6; 
  }
  
  .string {
    color: #ce9178;
  }
  
  .keyword2 {
    color: 	#47c55a; 
  }
  
  .function {
    color: #dcdcaa; 
  }

  .line {
    color: #d4d4d4; 
  }


  @media(max-width: 600px){
        .intro {
            padding-inline: 5px;
            padding-top: 30px;
        }
        .intro-text {
            width: 100%;
            padding: 10px;
            height: 45%;
        }
        .intro-container {
            display: block;
            margin-top: 80px;
            margin-inline: 5px;
        }
  }